.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb( 0 0 0 / 30%);
    color: #fff;
    background-color: #6caef5;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;

}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

/* 
import { StyleSheet } from 'react-native';

const styles = StyleSheet.create({
  weather: {
    width: 300,
    borderRadius: 6,
    shadowColor: '#000',
    shadowOffset: { width: 10, height: -2 },
    shadowOpacity: 0.3,
    shadowRadius: 20,
    elevation: 5, // For Android shadow
    color: '#fff',
    backgroundColor: '#6caef5',
    marginVertical: 20,
    marginHorizontal: 'auto', // For horizontal centering
    paddingHorizontal: 20,
    paddingBottom: 20,
  },
  top: {
    flexDirection: 'row',
    justifyContent: 'space-between',
    alignItems: 'center',
  },
  bottom: {
    flexDirection: 'row',
    justifyContent: 'space-between',
    alignItems: 'center',
  },
  city: {
    fontWeight: '600',
    fontSize: 18,
    lineHeight: 22, // Adjust line height to match font size
    margin: 0,
    letterSpacing: 1,
  },
  weatherDescription: {
    fontWeight: '400',
    fontSize: 14,
    lineHeight: 16,
    margin: 0,
  },
  weatherIcon: {
    width: 100,
    height: 100, // Ensure the icon is square
  },
  temperature: {
    fontWeight: '600',
    fontSize: 70,
    letterSpacing: -5,
    marginVertical: 10,
    textAlign: 'center', // Adjust alignment if needed
  },
  details: {
    width: '100%',
    paddingLeft: 20,
  },
  parameterRow: {
    flexDirection: 'row',
    justifyContent: 'space-between',
    marginVertical: 2, // Add space between rows
  },
  parameterLabel: {
    textAlign: 'left',
    fontWeight: '400',
    fontSize: 12,
  },
  parameterValue: {
    textAlign: 'right',
    fontWeight: '600',
    fontSize: 12,
  },
});

export default styles; */